*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
#app{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.errore{
    color: red;
}
li{
    display: flex;
    justify-content:space-between;
    align-items: center;
    word-break: break-all;
    font-size: 1.2rem;
}
ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
i{
    cursor: pointer;
}
.btnSection{
    display: flex;
    justify-content: center;
    align-items: center;
}