<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h1>todo list</h1>
        <input type="text" v-model="newTask" placeholder="inserisci la tua cosa da fare">
        <span class="errore" v-if="errorEmpty">Il testo non può essere vuoto</span>
        <span class="errore" v-else-if="errorMinChar">Il testo non può contenere meno di 3 caratteri</span>

        <ul>
            <li v-for="task in tasks">
                {{task.text}}
                <i class="fa-sharp fa-solid fa-xmark"></i>
            </li>
            <span ></span>
        </ul>
        <button @click="addNew">invia</button>

    </div>
   



    <script src="js/main.js"></script>
</body>
</html>